@backColor : #262626;
@linkColor : #D98926;
@textcolor : #787676;
@footerColor : #212121;
@media-size : 992px;

body {
  background-color: @backColor;  

  color: @textcolor;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}

h3 {
  color: #6B5B41;
}

hr {
  border-color: #333; 
}
